global
    maxconn 2000
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:80
    default_backend webservers

backend webservers
{% for host in groups['webservers'] %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:80 check
{% endfor %}

